<!DOCTYPE html>
<html>

<head>
  <title>UnivApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <%= render 'layouts/navigation' %>
    <% flash.each do |key, message| %>
    <div class="container error-messages">
      <div class="row">
        <div class="col s12 m12 l12">
           <div class="card-panel red lighten-2" id="fade-out-target">
            <span class="white-text">
              <%= message%>
            </span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </header>
  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>
  <footer class="page-footer">
    <%= render 'layouts/footer' %>
  </footer>
</body>

</html>